$background-color: #f7fdff;

$primary-color-text: #000000;
$secondary-color-text: #9c9c9c;
$text-white: #ffffff;

$primary-color: #33a3aa;
$secondary-color: #5914a9;
$green-light: #31e2ad;
$green-gradient: #82e1ab;

//Tamaños